---
---

@import "{{ site.theme }}";

body {
  padding-top: 1px;
}

.intro-background {
  background: url("../images/Shakespeare_Bridge.jpg") no-repeat;
  background-position: center center;
  background-color: #fff;
  min-height: 500px;
}

.navbar-custom {
  margin: 0;
  background-color: rgb(240,20,20);
}

.navbar {
  h1 {
    color: #fff;
  }
}

.brand-box {
  max-width: 10%;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}
