---
---

@import "{{ site.theme }}";

body {
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: #00304f;
}

h1 {
  font-size: 3em;
  color: #00304f;
}

h2 {
  color: #00304f;
}

p {
  font-size: 1.25em;
}

.intro-background {
  background: url("../images/griffith.jpg") no-repeat;
  background-position: center center;
  background-color: #fff;
  width: 100%;
  min-height: 500px;
  position: relative;

  .intro-feature {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    h1 {
      color: #fff;
    }
    .btn-info {
      background-color: #f01414;
      border: 3px solid #f01414;
      font-size: 2em;
      margin: 0 15px;
      &:hover {
        background-color: #00304f;
        border: 3px solid #fff;
        font-weight: normal;
      }
    }
  }
}

.navbar-custom {
  margin: 0;
  background-color: #f01414;
  padding: 5px 15px;
}

.navbar {
  margin: 0;
  h1 {
    margin: 0;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 2em;
  }
  h2 {
    margin: 0;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 1em;
  }
}

.navbar-brand {
  margin: 0 50px;
}

.nav-item {
  margin: 0 5px;
  a {
    font-size: 1.5em;
  }
}

.donate {
  background-color: #fff;
  border-radius: .25rem;
  padding: 0px 5px;
  max-width: 128px;
  text-align: center;
  a {
    color: #f01414 !important;
  }
  &:hover {
    background-color: #00304f !important;
  }
}

a.donate-link {
  &:hover {
    color: #fff !important;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
  &:hover {
    font-weight: normal;
    color: #00304f
  }
}

.candidates {
  padding: 15px 0;
  text-align: center;
  h2 {
    font-size: 1.5em;
    margin: 0;
  }
}

.platform {
  padding: 15px;
  text-align: center;
  h2 {
    color: #fff;
  }
  .material-icons {
    font-size: 5em;
  }
  .platform-items {
    color: #fff;
    background-color: #f01414;
    border: 3px solid #fff;
    padding: 20px;
  }
}

.voting {
  padding: 15px;
  text-align: center;
  h2 {
    font-size: 2em;
  }
}

@media only screen and (max-width: 991px) {
  .navbar-nav {
    padding: 0 50px;
  }
}
