<!doctype html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="container">
      {% include header.html %}
      <div class="intro-background">
        <div class="row justify-content-center">
          <div class="col-12">
            {{ site.description }}
          </div>
        </div>
      </div>
      <div class="col-12">
        {{ content }}
      </div>
      <div id="footerbar" class="col-12">
        {% include footer.html %}
      </div>
    </div>
  </body>
</html>